.Cards .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
    margin-top: 20px;
}
.Cards .cards-container * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.Cards .cards-container img {
    width: 210px;
    border-radius: 10px;
}
.Cards .cards-container h1 {
    color: black;
}
.Cards .cards-container .card {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.Cards .cards-container .card .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Cards .cards-container .card .text .cardName {
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 186px;
}
.Cards .cards-container .card .text .price {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.Cards .sortingContainer {
    margin: 10px;
    max-width: fit-content;
}
.Cards .sortingContainer .sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    text-align: left;
    padding: 7px;
    border-radius: 0;
}
.label {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}