.Header {
    background-color: #F3EEEA;
    padding: 20px 100px;
    display: flex;
    align-items: center;
}
.Header .logo {
    height: 60px;
    margin-right: 10px;
}
.Header .search {
    
}
.shopping-cart {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 10px;
}