.Header {
    background-color: #F3EEEA;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    transition: 0.2s all;
}
.Header .logo {
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s all;
}
.Header .logo:hover {
    padding-right: 10px;
    height: 65px;
}
.Header.hovered {
    padding: 18px 100px;
}
.Header .shop-outlined {
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
}
.Header .heart {
    height: 38px;
    margin-left: 20px;
    cursor: pointer;
}
.Header .shopping-cart {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}


.top-card {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid lightgray;
}
.top-card p {
    font-weight: bold;
}
.top-card .left {
    margin-right: 30px;
}
.top-card .right {
    margin-left: 30px;
    cursor: pointer;
}
.top-card .right:hover {
    text-decoration: underline;
}

.cart-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-card img {
    margin-right: 20px;
    width: 80px;
    border-radius: 5px;
}
.cart-card-text {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.check-out-wrapper {
    display: flex;
    justify-content: center;
}
.check-out {
    width: 80%;
    margin-bottom: 10px;
    background-color: rgb(32, 32, 32);
    color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.4s all;
    cursor: pointer;
}
  
.check-out:hover {
    width: 85%;
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
    padding: 10px 0px;
    font-size: 21px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}
.cart-card-wrapper {
    position: relative;
}

.cart-card-wrapper .delete-item {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -8px;
    border-radius: 50%;
    transition: all;
}

.delete-button {
    border-radius: 50%;
    font-size: 24px;
    transition: 0.2s all;
    transform-origin: center;
}

.delete-button:hover {
    font-size: 26px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
    transform-origin: center;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.show-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    height: 18px;
    width: 20px;
    min-width: 20px;
    background: rgb(209, 37, 37);
    color: rgb(247, 247, 247);
    border-radius: 50%;
    overflow: hidden;
    font-weight: bold;
    position: relative;
    right: 23px;
    bottom: 10px;
    pointer-events: none;
}

.cart-cards-container {
    max-height: 50vh;
    overflow-y:scroll;
}

.Header .icon:active {
    position: relative;
    top: 2px;
}